= form_for note, remote: true do |f|
  = f.text_area :content, autofocus: true,
      class: "expand js-task-list-field #{'hide' if local_assigns[:hidden]}",
      placeholder: "Start typing your note....",
      data: { "min-rows" => 3}
