.session-container
  = image_tag "about.png"

  %p
    Eighty is a simple markdown note taking app. Some of its features include
    GitHub style task lists, and drag and drop image insertion.

  %p
    Bug reports and pull requests are welcome on GitHub
    = link_to "here", "https://github.com/npezza93/eighty"

  %p
    This app is available as open source under the terms of the
    = link_to "MIT License", "http://opensource.org/licenses/MIT"

  %p
    %b
      Developed and Maintained by Nick Pezza
