#hamburger
  position: fixed
  top: 30px
  left: 15px
  display: none
  z-index: 10
  cursor: pointer
  @media only screen and (max-width: 800px)
    display: block
#drawer
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 275px
  max-width: 100%
  border-right: 1px solid #DEDEDE
  transition: all .35s ease
  @media only screen and (max-width: 800px)
    left: -275px
  img
    max-width: 75%
    filter: grayscale(100%)
    display: block
    margin: auto
  .truncated-note
    display: flex
    text-decoration: none
    color: #757575
    border-bottom: 1px solid #DEDEDE
    padding: 10px
    border-left: 4px solid #fff
    &.active
      border-left: 4px solid #212121
    .time_ago
      margin-top: 16px
      margin-right: 16px
    .note
      word-break: break-word
      .temp_note
        color: rgba(117,117,117, .6)
  .new_note_search_container
    display: flex
    flex-direction: row
    border-bottom: 1px solid #DEDEDE
    .flex
      flex: 1
      input
        margin-top: 10px
        border: 0
        margin-left: 10px
        width: calc(100% - 10px)
    .new_note_link
      text-decoration: none
      color: #212121
      padding-top: 10px
      padding-right: 10px
      padding-bottom: 8px
#main
  position: absolute
  top: 0
  left: 276px
  height: 100%
  width: calc(100% - 276px)
  transition: all .35s ease
  @media only screen and (max-width: 800px)
    left: 0px
    width: 100%
  .logo-container
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    height: 100%
    img
      max-width: 90%
      max-height: 70vh
